.d_none {
 display:none;
}

.flex {
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex.row {
    flex-direction:row;
}

.grid {
    display:grid;
}

.position-absolute{
    position: absolute;
}

.position-relative{
    position: relative;
}