html,
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Inter, arial, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 232px 1fr;
}

.boards {
    display: grid;
    grid-template-rows: 128px 232px 24px 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    padding: 0 64px 0 64px;
}


.board-head {
    
}


.board-search {
    display: grid;
    grid-template-columns: auto 312px 222px;
    height: 232px;
    gap: 32px;
}

.board-search-input {
    width: 312px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}

.board-headline {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 61px;
    font-weight: 700;
}


.board-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}


.board-main {

}


.search-task {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 312px;
    height: 100%;
}

.btn-task {
    width: 160px;
    height: 48px;
    color: #ffffff;
    background-color: #2A3647;
    border-radius: 8px;
    padding: 15px 24px;
    font-weight: 700;
    font-size: 21px;
    border: none;
}

.btn-task-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 100%;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter_28pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}