@import "https://unpkg.com/open-props";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
  background: #A8A8A8; 
  border-radius: 10px;

}

body{
  overflow:hidden;
}

.content {
  max-height: 100%;
 
}


.contacts-container {
  background-color: #fff;
  box-shadow: 4px 0 6px 0 rgb(0 0 0 / 0.08);   
  width: 456px;
  position: relative;
  

}

.contacts {
  padding: 90px 24px 32px 24px;
  width:440px;
  max-height: calc(100% - 96px); 
  overflow-y: scroll; /* Show scrollbars */
}

.add-contact-container {
  width: calc(100% - 32px);
  height: 101px;
  position: absolute;
  z-index: 500;
  background-color: #fff;
}

.add-contact-btn {
  border-radius: 10px;
  background-color: #2a3647;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  padding: 12px 16px;
  gap: 16px;
  width: 352px;
}

.add-contact-btn:hover {
  background-color: #29abe2;
}



.letter {
  width: 352px;
  padding: 25px 36px;
  border-bottom: 1px solid #d1d1d1;
}

.single-contact-btn {
  width: 352px;
  padding: 15px 24px;
  gap: 35px;
  color: #000;
}

.single-contact-btn:hover {
  background: linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(240,240,240,1) 100%);
}

.single-contact-btn-active{
  width: 352px;
  padding: 15px 24px;
  gap: 35px;
  background-color: #2A3647;
  color: #fff;
}

.single-contact-btn-active:hover{
  background: rgb(42,54,71);
}


.name-email {
  gap: 5px;
}

.contact-name {
  font-size: 20px;
  text-align: left;
}

.contact-email {
  color: #007CEE;
}

.circle {
  color: #fff;
  font-size: 12px;
  min-width: 42px;
  height: 42px;
  border-radius: 25px;
  border: 2px solid #fff;
}

.neutralColor{
 background-color: #D9D9D9;
}

.contact-info-container {
  display:flex;
  padding-left: 45px;
  padding-top: 80px;
  gap: 21px;
 
}

.contact-title {
  gap: 30px;
}

.vertical-line {
  width: 0px;
  border-left: 3px solid #29abe2;
  height: 59px;
}

.single-contact-large {
  gap: 54px;
  color: #000;
}

.circle-large{
  min-width:120px;
  height: 120px;
  border-radius: 70px;
  font-size: 47px;
  font-weight: 500;
}

.contact-name-large{
  font-size: 47px;
}

.icon-container{
  gap: 13px;
}

.contact-icon-btn{
  gap: 8px;
  color: #000;
}

.contact-icon-btn:hover{
  color:#007CEE;
  filter: invert(65%) sepia(100%) saturate(7155%) hue-rotate(196deg) brightness(103%) contrast(102%);
}

.contact-info-text{

  font-size: 22px;
  padding: 20px 0;
}



/*------------- Dialog ----------------------------------------------*/
dialog{
  z-index: 5000;
  width:100%;
  max-width: 1212px;
  height: 592px;
  border: none;
  border-radius: 30px;
  margin: auto;
  padding: 0;
  position: relative;
  background-color: transparent;
  display:none;
  overflow: hidden;
  transition: opacity .5s;
  animation: var(--animation-scale-down) forwards;
  animation-timing-function: var(--ease-squish-3);

}

dialog[open]{
  display: flex;
  animation: var(--animation-slide-in-left) forwards;
}


::backdrop{
  background-color:#191b1d4a;
 
}
.join-logo {
  position:absolute; 
  top:120px;
  left:48px;
  width:56px;
  height:auto;
}
.dialog-title{
  background: #2A3647;
  height: 100%;
  padding:66px 48px;
  color:#fff;
  gap:16px;
  width: inherit;
}
.horizontal-line {
  width: 90px;
  background-color:  #29abe2;
  height: 3px;
}
.form-container{
  background-color: #fff;
  width: 80%;
  height:100%;
  padding: 60px;
  gap: 40px;
}
.circle-icon {
  font-size: 64px;
}
form {
  gap: 32px;
  width: 422px;
}
input::placeholder {
  color: #D1D1D1;
}
label {
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 13px 21px;
  color: #D1D1D1;
  cursor: text;
  
  
  
}
label:focus-within {
  border: 3px solid #29abe2;
}
label>input {
  outline: none;
  border: none;
  background: transparent;
  width:100%;
  font-size: 20px;
  align-self: center;
 
}
.input-icon{
  height: 16px;
  width: 16px;
  align-self: center;
  -webkit-user-drag: none;
}
.close-btn{
  top:60px;
  right: 60px;
  width: 24px;
  height:24px;
  border-radius: 25px;
  z-index:6000;
}
.close-btn:hover{
  background-color: #D1D1D1;
}
.btn-container {
  gap: 24px;
}
.create-conatct-btn{
  background-color: #2A3647;
  
}
.create-conatct-btn:hover{
  background-color: #29abe2;
}
.cancel-btn{
  font-size: 20px;
  gap:10px;
  border: 1px solid #2A3647;
  border-radius: 10px;
  padding: 13px 21px;
  color: #2A3647;
  
}
.cancel-btn:hover{
  color: #29abe2;
 /*  box-shadow: 0 4px 0 4px #00000040;    */
  filter: invert(65%) sepia(100%) saturate(7155%) hue-rotate(196deg) brightness(103%) contrast(102%); 
}
.cancel-icon, .check-icon{
  width: 24px;
  height:24px;
}


.submit-btn{
  border-radius: 10px;
  padding: 13px 21px;
  color: #fff;
  font-size: 20px;
}

.inactiv-btn {
  background-color: #2A3647;
  color: #A8A8A8;
}

.inactiv-btn:hover {
  cursor:default;
  background-color:#2A3647;
  color: #A8A8A8;
}

.inactive-color{
  filter: invert(51%) sepia(0%) saturate(2329%) hue-rotate(52deg) brightness(129%) contrast(102%);
}

.runInAnimation {
  animation-name: moveFromRightToCenter;
  animation-duration: 0.5s ease;
}

.runOutAnimation {
  animation-name: moveFromCenterToRight;
  animation-duration: 0.5s ease;
}   

.success-note{
  height:74px; 
  width:326px; 
  background-color:#2A3647 ; 
  margin:auto; 
  bottom:100px; 
  border-radius:20px; 
  color:#fff; 
  font-size:20px; 
  left: 50%;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
}

.success-note-closed{
  transform: translateY(400px);
}  

/*--------------------------- Responsive ------------------------*/

 @media only screen and (max-width: 1200px) {
  main {
    position: relative;
    max-height: 100%;
    overflow: hidden;
  

  }

  .content{
    max-height: 100%;
    overflow-x: hidden;
  }

  .contacts-container{
    max-height: 100%;
    position: static;
    width:100%;
    max-width:100%;
    
  }

  .contacts{
    padding-top:24px;
    max-width:100%;
    width:100%;
    overflow-x: hidden;
    max-height: 100%;
  }

  .add-contact-container{
    bottom:20px;
    right:20px;
    background-color: transparent;
    height:auto;
    width:auto;
  }

  .single-contact-btn{
    gap:15px;
  }

.letter, .single-contact-btn {
    max-width:100%;
    width:100%;
  }

  .add-contact-btn{
    width:56px;
    height:56px;
    border-radius: 40px;
  }

  .add-contact-btn span:first-child{
    display:none;
    
  }

  /* --------------------- */

    .contact-info-container{
    
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 100%;
      padding: 40px 16px;
    }

    .contact-title{
      flex-direction: column;
      align-items: start !important;
      gap: 16px;
    }

    .vertical-line{
      width: 59px;
      height: 4px;
      background-color: #29abe2;
     
    }

    .back-arrow {
      display:block !important;
      right: 40px;
      top: 40px;
    }

    dialog{
      flex-direction: column;
      max-width: 450px;
      max-height: 750px;
      height:auto;
      background-color: #fff;
     /*  max-inline-size: min(90vw, 60ch);
  max-block-size: min(80vh, 100%);
  max-block-size: min(80dvb, 100%); */
  
    }

    .dialog-title{
      padding: 66px 24px;
    }

     form {
      max-width:422px;
      width:100%;
    } *

    .form-container{
      width:100%;
      flex-direction: column;
      background-color: transparent;
      padding: 0 24px 66px 24px;
      margin-top:-60px;
    }

    .join-logo{
      display:none;
    }

    .close-btn {
      filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1000%) contrast(100%);
      top:24px;
      right: 24px;
    }

    .close-btn:hover{
      background-color: transparent;
    }

} 

@media only screen and (max-width: 600px) {
  .contacts{
    padding:24px 0 0 0;

}
}