main {
  width: 100%;
  text-wrap: pretty;
  max-width: 1920px;
}

.policy-wrapper {
  margin-top: 20px;
  margin-left: 40px;
  padding-right: 20px;
  border-collapse: collapse;
  display: block;
  overflow-y: auto;
  max-height: calc(100% - 40px);
}

.mt-10 {
  margin-top: 10px;
}

a {
  color: blueviolet;
}
