.policy-wrapper {
  margin-top: 20px;
  margin-left: 40px;
  border-collapse: collapse;
  display: block;
  overflow-y: auto;
  max-height: 760px;
}

h2, h3, h4, div {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: blueviolet;
}
