main {
  /* height: calc(100vh - 96px); */
  width: 100%;
  height: 100%;
  text-wrap: pretty;
}

.policy-wrapper {
  margin-top: 20px;
  margin-left: 40px;
  border-collapse: collapse;
  display: block;
  overflow-y: auto;
  max-height: 760px;
}

.mt-10 {
  margin-top: 10px;
}

a {
  color: blueviolet;
}